/* Global parameters */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family:"ubuntu", "lato";
    width: 90%;
    margin: auto;
    background-color: rgb(80, 127, 180);
}
main{
    position: relative;
    top: 132px;
}

/* HEADER */
header {
    position: fixed;
    left: 0;
    z-index: 999;
    background-color: rgb(52, 93, 141);
    width: 100%;
}
.carrousel>img{
    border-radius: 20px;
    margin: 20px 0px;
}
.logo-header-m{
    width: 110px;
    height: 70px;
    margin: 0px 30px;
}
.container-header-m{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.burger-menu{
    margin: 0px 30px;
    text-decoration: none;
    color: white;
    font-family: "lato";
    font-weight: bolder;
}
.burger-menu>i{
    font-size: 26px;
}
.container-header{
    display: none;
}
.nav-bar-header{
    display: none;
}
.nav-bar-header-m{
    /*ESPERAR HASTA SABER USAR BUTTONS*/
    display: none;
}
.nav-bar-header-m>ul>li{
    display: inline-block;
    font-size: 16px;
    margin: 10px 10px;
}
.nav-bar-header-m>ul>li>a{
    text-decoration: none;
    color: white;
    font-family: "lato";
    font-weight: bolder;
}
.nav-bar-header-m>ul>li>a:visited{
    color: white;
    text-decoration: underline;
}
.form-search-header{
    display: none;
}
.form-search-header-m{
    display: flex;
    margin: 10px auto;
    border: 1px solid lightsteelblue;
    width: 90%;
}
.form-search-header-m>input{
    flex-grow: 1;
    padding: 5px;
    border: none;
    font-size: 16px;
}
.form-search-header-m>button{
    min-width: 40px;
    min-height: 40px;
    background-color: lightsteelblue;
    border: none;
}
.icons-header{
    display: none;
    margin: 0px 30px;
}
.icons-header>a{
    text-decoration: none;
    color: white;
    font-family: "lato";
    font-weight: bolder;
}

/* FOOTER */
footer{
    background-color: rgb(52, 93, 141);
    color: rgba(255, 255, 255, 0.822);
    font-weight: bold;
    position: relative;
    top: 150px;
    z-index: 999;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.card-footer{
    display: flex;
    flex-direction: column;
    padding: 10px;
    text-align: center;
    border-bottom: 2px solid;
}
.card-footer>.parrafo{
    margin: 10px;
    font-weight: lighter;
}
.card-footer>i{
    font-size: 44px;
    margin: 10px;
}
.creditos{
    padding: 5px 10px;
}

/* HOME */
.card-container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}




/* Media queries */
@media (min-width: 640px){
    /* Header */
    main{
        top: 103px;
    }
    .form-search-header-m{
        display: none;
    }
    .form-search-header{
        display: flex;
        margin: 10px 0px;
        border: 1px solid lightsteelblue;
        flex-grow: .66;
    }
    .form-search-header>input{
        flex-grow: 1;
        padding: 5px;
        border: none;
        font-size: 16px;
    }
    .form-search-header>button{
        min-width: 40px;
        min-height: 40px;
        background-color: lightsteelblue;
        border: none;
    }
    .nav-bar-header-m{
        display: flex;
    }
    .nav-bar-header-m>ul{
        display: flex;
        width: 100%;
        justify-content: center;
    }
    .nav-bar-header-m>ul>li{
        display: inline;
        margin: 7px 30px;
    }
}

@media (min-width: 1024px){
    /* Header */
    .burger-menu{
        display: none;
    }
    .icons-header{
        display: block;
    }
    .icons-header{
        font-size: 30px;
    }
    .icons-header>a{
        margin: 7px;
    }
    .nav-bar-header-m>ul{
        width: 100%;
        justify-content: center;
    }
    .nav-bar-header-m>ul>li{
        display: inline;
        margin: 7px 30px;
    }

    .footer-container{
        display: flex;
    }
    .card-footer{
       width: 50%;
       border: none;
    }
}