<!DOCTYPE html>
<html lang="en">
<%- include ('partials/head.ejs') %>

<body>
    <%- include ('partials/header.ejs') %>
    
    <main>
        <div class="carrousel">
            <img style="width: 100%; height: 300px; background-color:coral" src="/images/main-logo-removebg.png" alt="">
        </div>
        <div class="categories">
            <h2>Ofertas</h2>
            <div class="producto">
                <img src="/images/main-logo-removebg.png" alt="">
                <p>SOY UN PRODUCTO</p>
            </div>
        </div>
        <div class="ofertas">
            <h2>Las mejores marcas</h2>
            <div class="producto">
                <img src="/images/main-logo-removebg.png" alt="">
                <p>SOY UN PRODUCTO</p>
            </div>
        </div>
        <div class="accesorios">
            <h2>accesorios</h2>
            <div class="producto">
                <img src="/images/main-logo-removebg.png" alt="">
                <p>SOY UN PRODUCTO</p>
            </div>
        </div>
    </main>

    <%- include ('partials/footer.ejs') %> 
</body>
</html>