<!DOCTYPE html>
<html lang="en">
<%- include ('partials/head.ejs') %>

<body>
    <%- include ('partials/header.ejs') %>
    
    <main>
        PRODUCT DETAIL
    </main>

    <%- include ('partials/footer.ejs') %> 
</body>
</html>